.f
    display flex
    flex 1 0 auto
    flex-wrap nowrap
    position relative
    &.v
        flex-direction column
    &.h
        flex-direction row
    &.z
        flex-wrap wrap
    &.io
        align-items center
    &.ix
        align-items stretch
    &.ib
        align-items baseline
    &.is
        align-items flex-start
    &.ie
        align-items flex-end
    &.js
        justify-content flex-start
    &.je
        justify-content flex-end
    &.jo
        justify-content center
    &.jx
        justify-content stretch
    &.ja
        justify-content space-around
    &.jb
        justify-content space-between
    &.ss>* , > .s
        flex-grow 0
        flex-shrink 0
    &.ww>* , > .w
        flex-grow 1
        flex-shrink 1
    &.rr>* , > .r
        flex-basis 0
    &.__41>* , >._41
        flex-basis 25%
    &.__21>* , >._21
        flex-basis 50%
    &.__51>* , >._51
        flex-basis 20%

.scrollx
    overflow-x auto
    overflow-y hidden
    -webkit-overflow-scrolling  touch
.scrolly
    overflow-x hidden
    overflow-y auto
    -webkit-overflow-scrolling  touch

.scroll
    display flex
    flex-flow column nowrap
    flex 1 1 0
    overflow-y auto
    overflow-x hidden
    -webkit-overflow-scrolling  touch


.abs
    position absolute

.ease
    transition all 1s ease

.pointer
    cursor pointer

.picture, ._picture img
    width 100%
    height 100%

.mt
    margin-top 1em

.mb
    margin-bottom 1em

.mr
    margin-right 1em

.box, ._box>*
    padding .5rem
    &.bb
        border-bottom 1px solid #ddd
    &.wd
        padding 1em 4em 1em 4em
    &.grey
        background-color #E8E8E8

.shadow
    box-shadow rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

.txt
    &.grey
        color #888
    &.white
        color white
    &.black
        color black
    &.blue
        color #03F
    &.bold
        font-weight bold
    &.sm
        font-size 12px
    &.md
        font-size 16px
    &.lg
        font-size 20px